<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/styles.css">
    <title>Informaci贸n</title>
</head>
<body>
    <div class="container">
        <h1 class="titulo">
            Informaci贸n del proyecto:
        </h1>
        <ol>
            <li>Argumentos: <%= argumentos %> </li>
            <li>Plataforma: <%= plataforma %> </li>
            <li>Versi贸n de Node JS: <%= version %> </li>
            <li>Memoria total reservada: <%= memoria %> </li>
            <li>Path de ejecuci贸n: <%= pathExe %> </li>
            <li>Process ID: <%= processId %> </li>
            <li>Carpeta del proyecto: <%= carpeta %> </li>
            <li>Procesadores: <%= procesadores %> </li>
        </ol>
        

    </div>

</body>
</html>